@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
}

h1{
    position: absolute;
    align-items: center;
    width: 380px;
    height: 115px;
    left: 45%;
    top: 50px;

    font-family: 'Barlow';
    font-style: italic;
    font-weight: 800;
    font-size: 60px;
    line-height: 115px;
    color: #fff;
}
.tagline{
    position: absolute;
    align-items: center;
    top: 200px;
    color: #fff;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: bolder;
    font-size: 40px;
    line-height: 88px;
}

.container{
    background: linear-gradient(252.44deg, #FFC52D 0%, rgba(244, 162, 97, 0.78) 80.35%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    background: #fff;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0 ,0 ,0 ,0.4);
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}
nav ul li::after{
    content: '';
    background: #34aef5;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}
nav ul li:hover{
    color: #fff;
}
nav ul li:hover::after{
    top: 50%;
    opacity: 1;
}