/* Import Google Font - Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
/*html{
    height: 100%;
}*/
h1{
    margin-top: 70px;
}
.i-colour{
    color: darkviolet;
}
a{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: darkviolet;
    color: white;
    border-radius: 25px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: inline-block;
}
a:hover{
    opacity: 0.8;
}
.back{
    
    text-align: center;
}
.time,
.flips{
  font-size: 20px;
}
body{
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  background: url("assets\\th3.png");
  background-size: 2500px;
  /*height: 100%;*/
  position: relative;
}
::selection{
  color: #fff;
  background: #6563ff;
}

.wrapper{
    position: relative;
    height: 32pc;
    width: 30pc;
    margin: auto;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 35px black;
    padding-top: 71px;
    padding-bottom: 40px;
    padding-left: 38px;
    padding-right: 30px;
}
.cards, .card, .view, .details, .time, .flips{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards{
  height: 370px;
  width: 370px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card{
  cursor: pointer;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}
.card.shake{
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}
.cards .card .view{
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background: #fff;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.card .front-view img{
  max-width: 17px;
}
.card .back-view{
  transform: rotateY(-180deg);
}
.card .back-view i{
  max-width: 40px;
}
.card.flip .front-view{
  transform: rotateY(180deg);
}
.card.flip .back-view{
  transform: rotateY(0);
}

.details{
  width: 100%;
  margin-top: 15px;
  padding: 0 20px;
  border-radius: 7px;
  background: #fff;
  height: calc(100% / 4 - 30px);
  justify-content: space-between;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.details p{
  font-size: 18px;
  height: 25px;
  padding-right: 18px;
  margin-top: 16px;
  border-right: 1px solid #ccc;
}
.details p span{
  margin-left: 8px;
}
.details p b{
  font-weight: 500;
}
.details button{
  cursor: pointer;
  font-size: 14px;
  color: darkviolet;
  border-radius: 4px;
  padding: 4px 11px;
  background: #fff;
  border: 2px solid darkviolet;
  transition: 0.3s ease;
}
.details button:hover{
  color: #fff;
  background: darkviolet;
}

@media screen and (max-width: 700px) {
  .cards{
    height: 350px;
    width: 350px;
  }
  .card .front-view img{
    max-width: 16px;
  }
  .card .back-view i{
    max-width: 40px;
  }
}

@media screen and (max-width: 530px) {
  .cards{
    height: 300px;
    width: 300px;
  }
  .card .back-view i{
    max-width: 35px;
  }
  .details{
    margin-top: 10px;
    padding: 0 15px;
    height: calc(100% / 4 - 20px);
  }
  .details p{
    height: 15px;
    font-size: 17px;
    padding-right: 13px;
  }
  .details button{
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    background: #6563ff;
  }
}